CLIENT_BACKEND_PORT=8080
DATABASE_URL=mongodb://localhost:27017/busTracking
[{
  "_id": {
    "$oid": "673f0eaa8c39e6102a4fca12"
  },
  "busNumber": "BUS_02",
  "latitude": 8.7557855,
  "longitude": 80.4084235,
  "lastUpdated": {
    "$date": "2024-11-21T11:22:12.343Z"
  }
}]