CLIENT_BACKEND_PORT=8080
DATABASE_URL_Local='mongodb://localhost:27017/track-test'
DATABASE_URL='mongodb+srv://teshanit:MRfFHbS6hpRIDFFV@cluster0.wswwl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
NEWS_API_URL = "https://newsdata.io/api/1/latest?country=lk&apikey=YOUR_API_KEY";




//track-test.buslocations
[{
  "_id": {
    "$oid": "673f0eaa8c39e6102a4fca12"
  },
  "busNumber": "nd-4444",
  "latitude": 8.7557855,
  "longitude": 80.4084235,
  "lastUpdated": {
    "$date": "2024-11-21T11:22:12.343Z"
  }
}]





//bus-tracking.buses

[{
  "_id": {
    "$oid": "673d9f17c296490c5387be9e"
  },
  "busNumber": "nd-3222",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": true,
  "createdAt": {
    "$date": "2024-11-20T08:34:31.033Z"
  },
  "updatedAt": {
    "$date": "2024-11-20T08:34:31.033Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "67499db06873caef0b2f7690"
  },
  "busNumber": "nd-5555",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": true,
  "createdAt": {
    "$date": "2024-11-29T10:55:44.762Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:38:30.784Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "67499dbd6873caef0b2f7695"
  },
  "busNumber": "nd-2223",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": true,
  "createdAt": {
    "$date": "2024-11-29T10:55:57.293Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T10:55:57.293Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "67499e1d6873caef0b2f76b4"
  },
  "busNumber": "nd-9999",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": true,
  "createdAt": {
    "$date": "2024-11-29T10:57:33.049Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T10:57:33.049Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2814c57f90104a530ebf"
  },
  "busNumber": "nd-8989",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": false,
  "createdAt": {
    "$date": "2024-11-29T20:46:12.285Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:12.285Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2818c57f90104a530ec4"
  },
  "busNumber": "nd-1256",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": false,
  "createdAt": {
    "$date": "2024-11-29T20:46:16.754Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:16.754Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a281bc57f90104a530ec9"
  },
  "busNumber": "nd-6644",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": false,
  "createdAt": {
    "$date": "2024-11-29T20:46:19.909Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:19.909Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a281fc57f90104a530ece"
  },
  "busNumber": "nd-7788",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": false,
  "createdAt": {
    "$date": "2024-11-29T20:46:23.619Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:23.619Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2823c57f90104a530ed3"
  },
  "busNumber": "nd-2233",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "15",
  "fareEstimate": "2500",
  "type": "Luxury",
  "status": false,
  "createdAt": {
    "$date": "2024-11-29T20:46:27.191Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:27.191Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aea6f936eaae678accaea"
  },
  "busNumber": "nd-9090",
  "startLocation": "colombo",
  "endLocation": "jaffna",
  "routeNumber": "15",
  "fareEstimate": "1500",
  "type": "Normal",
  "status": false,
  "createdAt": {
    "$date": "2024-11-30T10:35:27.991Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T10:35:27.991Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aeb37936eaae678accaef"
  },
  "busNumber": "nd-8790",
  "startLocation": "colombo",
  "endLocation": "jaffna",
  "routeNumber": "87",
  "fareEstimate": "1900",
  "type": "Normal",
  "status": false,
  "createdAt": {
    "$date": "2024-11-30T10:38:47.856Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T10:38:47.856Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aedec936eaae678accaf4"
  },
  "busNumber": "nd-8023",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeNumber": "57",
  "fareEstimate": "2100",
  "type": "Normal",
  "status": false,
  "createdAt": {
    "$date": "2024-11-30T10:50:20.918Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T13:50:03.823Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674b4ca2b8cd40508211662d"
  },
  "busNumber": "nd-4444",
  "startLocation": "vavuniya",
  "endLocation": "colombo",
  "routeNumber": "15",
  "fareEstimate": "2000",
  "type": "Semi-Luxury",
  "status": true,
  "createdAt": {
    "$date": "2024-11-30T17:34:26.675Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T17:38:16.621Z"
  },
  "__v": 0
}]









//bus-tracking.busroutes

[{
  "_id": {
    "$oid": "673d9f17c296490c5387bea0"
  },
  "busNumber": "nd-3222",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [
    "kurunagala",
    "mihinthale"
  ],
  "createdAt": {
    "$date": "2024-11-20T08:34:31.040Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T10:54:48.878Z"
  },
  "__v": 3
},
{
  "_id": {
    "$oid": "67499db06873caef0b2f7692"
  },
  "busNumber": "nd-5555",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [
    "TT",
    "AA",
    "FF"
  ],
  "createdAt": {
    "$date": "2024-11-29T10:55:44.767Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:27:17.371Z"
  },
  "__v": 3
},
{
  "_id": {
    "$oid": "67499dbd6873caef0b2f7697"
  },
  "busNumber": "nd-2223",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [
    "dd",
    "aa",
    "ee"
  ],
  "createdAt": {
    "$date": "2024-11-29T10:55:57.296Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T10:56:36.907Z"
  },
  "__v": 1
},
{
  "_id": {
    "$oid": "67499e1d6873caef0b2f76b6"
  },
  "busNumber": "nd-9999",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T10:57:33.053Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T10:57:33.053Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2814c57f90104a530ec1"
  },
  "busNumber": "nd-8989",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T20:46:12.292Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:12.292Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2818c57f90104a530ec6"
  },
  "busNumber": "nd-1256",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T20:46:16.756Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:16.756Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a281bc57f90104a530ecb"
  },
  "busNumber": "nd-6644",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T20:46:19.911Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:19.911Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a281fc57f90104a530ed0"
  },
  "busNumber": "nd-7788",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T20:46:23.622Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:23.622Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674a2823c57f90104a530ed5"
  },
  "busNumber": "nd-2233",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-29T20:46:27.193Z"
  },
  "updatedAt": {
    "$date": "2024-11-29T20:46:27.193Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aea70936eaae678accaec"
  },
  "busNumber": "nd-9090",
  "routeNumber": "15",
  "startLocation": "colombo",
  "endLocation": "jaffna",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-30T10:35:28.007Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T10:35:28.007Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aeb37936eaae678accaf1"
  },
  "busNumber": "nd-8790",
  "routeNumber": "87",
  "startLocation": "colombo",
  "endLocation": "jaffna",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-30T10:38:47.858Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T10:38:47.858Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674aedec936eaae678accaf6"
  },
  "busNumber": "nd-8023",
  "routeNumber": "57",
  "startLocation": "colombo",
  "endLocation": "vavuniya",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-30T10:50:20.920Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T13:50:03.825Z"
  },
  "__v": 0
},
{
  "_id": {
    "$oid": "674b4ca2b8cd40508211662f"
  },
  "busNumber": "nd-4444",
  "routeNumber": "15",
  "startLocation": "vavuniya",
  "endLocation": "colombo",
  "routeStops": [],
  "createdAt": {
    "$date": "2024-11-30T17:34:26.680Z"
  },
  "updatedAt": {
    "$date": "2024-11-30T17:38:16.623Z"
  },
  "__v": 0
}]